body {
  background-color: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 50%;
}

.col {
  padding: 30px;
  border-radius: 10px;
}

.caixa1 {
  background-color: #00494d;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  background-color: #00494d;
  color: white;
}

.btn {
  border: none;
  margin: 2px;
}

.btn-primary {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  background-color: #00494d;
  width: 30%;
}

.btn-secondary {
  background-color: transparent;
  color: #5e7a7d;
  width: 30%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-align: end;
}

.btn-sucess {
  background-color: #26c0ab;
  color: #5e7a7d;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #00494d;
}

p {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  color: #5e7a7d;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  margin: 2% 0%;
}

.numero {
  color: #26c0ab;
  font-size: 200%;
  line-height: 30px;
}

.erro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#alerta {
  color: brown;
  display: none;
}

.two {
  background: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  background-color: #f4fafa;
  border: none;
  text-align: end;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #00494d;
}

.one {
  background: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  background-color: #f4fafa;
  border: none;
  text-align: end;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #00494d;
}

/*efeitos*/
.btn-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:visited {
  background-color: #26c0ab;
  color: #00494d;
}

.btn-secondary:active, .btn-secondary:hover, .btn-secondary:focus {
  background-color: #f4fafa;
  color: #00494d;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 0px none;
          box-shadow: 0px 0px 0px none;
}

.one::-webkit-input-placeholder, .two::-webkit-input-placeholder {
  color: #7f9c9f;
  padding-left: 90%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: larger;
}

.one:-ms-input-placeholder, .two:-ms-input-placeholder {
  color: #7f9c9f;
  padding-left: 90%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: larger;
}

.one::-ms-input-placeholder, .two::-ms-input-placeholder {
  color: #7f9c9f;
  padding-left: 90%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: larger;
}

.one::placeholder, .two::placeholder {
  color: #7f9c9f;
  padding-left: 90%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: larger;
}

.btn-sucess:disabled {
  background: #26c0ab;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.one:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #26c0ab;
          box-shadow: 0 0 0 0.25rem #26c0ab;
}

.two:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #26c0ab !important;
          box-shadow: 0 0 0 0.25rem #26c0ab !important;
}

/*Design para celular*/
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-primary, .btn-secondary {
    width: 40%;
  }
  .botoes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */